In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("jobdata_cleaned.csv")

In [3]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,Competitors,company_txt,same_state,hq_country,age,python_yn,R_yn,spark_yn,aws_yn,excel_yn
0,Data Scientist,-1,Job Description – Data Scientist\n\nLocation: ...,3.6,Buckman\n3.6,Chennai,"Memphis, TN",1001 to 5000 employees,1945,Company - Private,...,-1,Buckman\n,0,TN,75,1,0,0,0,0
1,Data Scientist,-1,Job Title\nData Scientist\n\n20-Jan-2020\n\nNo...,4.0,Shell\n4.0,Chennai,"Houston, TX",10000+ employees,1907,Company - Public,...,"ExxonMobil, BP, Chevron",Shell\n,0,TX,113,1,0,1,0,1
2,Data Scientist,-1,Work with stakeholders throughout the organiza...,3.8,Mindtree\n3.8,Chennai,"Bengaluru, India",10000+ employees,1999,Company - Public,...,"Infosys, Tata Consultancy Services, Wipro",Mindtree\n,0,India,21,1,0,1,0,1
3,Data Scientist,-1,Managing 2 to 3 business lines Provide end to ...,3.5,HDFC Bank\n3.5,Chennai,"Mumbai, India",10000+ employees,1995,Company - Public,...,"State Bank of India, ICICI Bank, Axis Bank",HDFC Bank\n,0,India,25,0,0,0,0,0
4,Data Scientist,-1,Data Scientist\n\n\nYou will discover the info...,5.0,Acies\n5.0,Chennai,"Chicago, IL",1 to 50 employees,-1,Company - Private,...,-1,Acies\n,0,IL,-1,0,0,0,0,1

In [5]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'company_txt', 'same_state', 'hq_country', 'age', 'python_yn', 'R_yn',
       'spark_yn', 'aws_yn', 'excel_yn'],
      dtype='object')

In [6]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'
    
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
            return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'na'
		
## Job title and seniority 
		
##  Fix state Los Angeles 

##  Job description length 

##  Competitor count

## hourly wage to annual 

#remove new line from job title

In [7]:
 df['job_simp'] = df['Job Title'].apply(title_simplifier)

In [8]:
df.job_simp.value_counts()

data scientist    15
Name: job_simp, dtype: int64

In [9]:
df['seniority'] = df['Job Title'].apply(seniority)

In [11]:
df.hq_country.value_counts()
df['hq_country']=df.hq_country.apply(lambda x: x.strip() if x.strip().lower()!= 'los angeles' else 'CA')

In [12]:
df.hq_country.value_counts()

India          5
-1             3
CA             2
IL             1
TX             1
Netherlands    1
NJ             1
TN             1
Name: hq_country, dtype: int64